aws_region = "ap-south-1"

rules = {
  api = {
    listener_arn     = "REPLACE_WITH_EXISTING_LISTENER_ARN"
    priority         = 100
    target_group_arn = "REPLACE_WITH_EXISTING_TARGET_GROUP_ARN"

    path_patterns = [
      "/api/*"
    ]

    tags = {
      Environment = "REPLACE_WITH_ENVIRONMENT"
      ManagedBy   = "Terraform"
    }
  }
}
