aws_region = "ap-south-1"

target_attachments = [
  {
    name             = "REPLACE_WITH_ATTACHMENT_NAME"
    target_group_arn = "REPLACE_WITH_EXISTING_TARGET_GROUP_ARN"
    target_id        = "REPLACE_WITH_INSTANCE_ID_OR_IP"
    port             = 80
  }
]
